* {
    margin: 0;
}

body {
    background-color: #e6e2c5;
}

header,
footer {
    align-items: center;
    gap: 50px;
    padding: 20px;
    background-color: rgb(43, 69, 147);
    flex-wrap: wrap;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

header {
    border-bottom: 4px solid whitesmoke;
}


body>p {
    display: flex;
    background-color: darkred;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1em;
    color: whitesmoke;
    font-weight: 400;
    padding: 2px 30px;
}

header section {
    display: flex;
    justify-content: space-between;
}

header section h1 {
    padding: 15px 30px;
    font-family: 'Pixelify Sans', sans-serif;
    font-weight: 600;
    font-style: normal;
    color: rgb(240, 237, 187);
    font-size: 2.5em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);

}

header section input {
    width: 40%;
    margin: 1em 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 30px;
    padding: 10px;
}


.headerNav {
    margin: 20px 15px;
    text-align: left;
    display: flex;
    align-items: center;
    gap: 40px;
    justify-content: space-between;
}

.nav-left,
.nav-right {
    display: flex;
    gap: 40px;
}


.headerNav a {
    padding: 30px 20px;
    text-decoration: none;
    font-family: "Lemon", serif;
    color: whitesmoke;
    font-size: 1.2em;
}


footer {
    border-top: 4px solid whitesmoke;
    justify-content: space-between;
    color: whitesmoke;
    font-weight: 400;
}

footer p {
    padding: 15px 30px;
    display: block;
}

footer a {
    text-decoration: none;
    padding: 15px 30px;
    color: whitesmoke;
}

main {
    margin: 2em;
    padding: 3em;
    background-color: #f5f5f5;
    border-radius: 15px;
}