#welcome {
    display: inline-block;
}

main {
    display: flex;
    padding: 3em;
    align-items: center;
    justify-content: space-between;
    background-color: whitesmoke;
    gap: 40px;
}

main h1 {
    font-family: "Lora", serif;
    font-size: 3em;
    font-weight: 700;
    font-style: normal;
    color: rgb(43, 69, 147);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}


main p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1em;
    font-weight: 20;
    font-style: normal;
}


#reasons h2 {
    display: inline;
    font-family: "Lora", serif;
    font-size: 2.3em;
    font-weight: 700;
    font-style: normal;
    color: rgb(43, 69, 147);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

#cards {
    justify-content: space-between;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    width: 100%;
    margin: 0 auto;
}

.card {
    margin: 1px;
    padding: 20px;
    border: 3px solid darkred;
    border-radius: 15px;
    color: rgb(43, 69, 147);
    font-family: "Lora", serif;
    font-size: 1.1em;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.card:hover {
    color: rgb(72, 98, 175);
    background-color: white;
    transition: 0.4s;
    margin: 0px;
}

.card p {
    margin-top: 7px;
    font-size: 0.7em;
}