
    main {
        margin: 2em auto;
        background-color: whitesmoke;
        padding: 3em;
        width: 60%;
        border-radius: 15px;
        text-align: center;
    }

    #login h2 {
        font-family: "Lora", serif;
        font-weight: 700;
        color: rgb(43, 69, 147);
        font-size: 2em;
        margin: 40px auto;
    }

    #loginForm fieldset {
        border: none;
        margin-bottom: 1.5em;
    }

    #loginForm label {
        display: block;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 1em;
        margin: 200px 0 30px 0;
        color: rgb(90, 90, 90);

    }

    #loginForm input {
        width: 70%;
        padding: 12px;
        border-radius: 10px;
        border: 2px solid rgb(43, 69, 147);
        font-size: 1em;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        outline: none;
    }

    #loginForm input:focus {
        border-color: rgb(101, 100, 160);
        background-color: rgb(252, 244, 255);
    }

    #loginForm #loginBtn {
        padding: 15px 40px;
        background-color: transparent;
        border-radius: 15px;
        border: 2.5px solid rgb(43, 69, 147);
        font-size: 20px;
        font-weight: bold;
        font-family: "Lora", serif;
        color: rgb(43, 69, 147);
        cursor: pointer;
        transition: 0.2s;
    }

    #loginForm #loginBtn:hover {
        background-color: rgb(101, 107, 157);
        color: white;
    }


    #login p {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        margin-top: 1.5em;
    }

    #login a {
        color: rgb(43, 69, 147);
        text-decoration: underline;
        font-weight: 600;
    }

    #loginForm label {
        text-align: left;
        width: 70%; 
        margin: 10px auto 5px;
    }

    .error {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 1em;
        padding: 2px 30px;
        background-color: rgb(255, 241, 115);
        color: black;
    }