main {
        margin: 2em auto;
        background-color: whitesmoke;
        width: 60%;
    }

    #signup {
        width: 90%;
        margin: 0 auto;
        background-color: whitesmoke;
        padding: 2em;
        border-radius: 15px;
    }

    body {
        overflow-x: hidden;
    }

    #signup h2 {
        font-family: "Lora", serif;
        font-weight: 700;
        color: rgb(43, 69, 147);
        font-size: 2em;
        text-align: center;
        margin: 40px auto;

    }

    form {
        width: 90%;
        margin: auto;
    }

    fieldset {
        border: none;
        margin-bottom: 20px;
    }

    .row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 40px;
    }

    #togglePassword {
        margin: 0 1em;
    }

    #liveFeedback {
        display: flex;
        text-align: left;
         margin: 0 1em;
    }

    .row div,
    #Email {
        width: 95%;
    }

    label {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 1em;
        font-weight: 400;
        color: rgb(80, 80, 80);
        margin-bottom: 8px; 
    }

    input {
        padding: 15px;
        font-size: 0.9em;
        border: 2px solid rgb(43, 69, 147);
        border-radius: 15px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: rgb(80, 80, 80);
        width: 100%;
        box-sizing: border-box;
    }

    input::placeholder {
        color: rgb(150, 150, 150);
    }

    #signUpBtn {
        display: block;
        margin: 40px auto 0;
        font-size: 20px;
        color: rgb(43, 69, 147);
        background-color: transparent;
        cursor: pointer;
        border: 2.5px solid rgb(43, 69, 147);
        border-radius: 15px;
        padding: 15px 40px;
        transition: 0.2s;
        font-weight: bold;
        font-family: "Lora", serif;
    }

    button:hover {
        background-color:rgb(90, 107, 156);
        color: white;
    }

    #signup p {
        text-align: center;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        margin-top: 20px;
        font-size: 1em;
    }

    #signup p a {
        color: rgb(43, 69, 147);
        font-weight: 600;
        text-decoration: none;
    }
    #signup p a:hover {
        text-decoration: underline;
    }

    .msg { 
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 1em;
        margin: 0;
        padding: 2px 30px;
        background-color: rgb(255, 241, 115);
        color: black;
        display: flex;
        width: 100%;
    }