.card {
        display: inline-block;
        width: 15%;
        vertical-align: top;
        padding: 1.2em;
        align-items: center;
    }

    .card>img {
        border: 2px solid lightyellow;
        border-radius: 10px;

    }

    .card h3 {
        height: 45px;
        font-family: "Unbounded", cursive;
        font-weight: 400;
        font-size: 15px;
        padding: 0.3em;
        font-style: italic;
    }

    .card span {
        display: block;
        padding: 0.3em;
        border-bottom: 2px solid rebeccapurple;
        pointer-events: none;
    }

    .card p {
        height: 45px;
        font-family: "Unbounded", cursive;
        font-weight: 200;
        font-size: 10px;
        padding: 0.3em;
    }

    .buttons {
        margin: 15px;
        text-align: center;
    }

    .buttons button {
        display: inline-block;
        border: 1px solid rgb(185, 101, 101);
        border-radius: 100px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 22px;
        font-weight: 200;
        padding: 8px 20px;
        text-align: center;
        color: rebeccapurple;
        cursor: pointer;

    }

    .buttons button:hover {
        background-color: rgb(244, 212, 212);
        color: white;
    }

    .buttons form {
        display: inline;
    }


    main {
        display: block;
        padding: 3em;
        align-items: center;
        justify-content: space-between;
        background-color: whitesmoke;
        gap: 40px;
    }

    #productList {
        margin: 1.2em;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-between;
    }

    #intro {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 30px;      
        margin: 2em;
    }

    #intro form {
        display: flex;
        align-items: center;
        gap: 20px;      
    }

    #intro h1 {
        padding: 10px;
        font-family: "Unbounded", Arial, Helvetica, sans-serif;
        font-weight: 700;
        font-style: normal;
        color: rgb(130, 73, 130);
        font-size: 2em;
    }

    #cartBtn {
        margin: 2em;
        justify-content: right;    
    }

    #cartBtn button {
        size: 3em;
        font-size: 20px;
        font-family: "Lemon", serif;
        color: rgb(130, 73, 130);
        cursor: pointer;
        border: 2.5px  solid rgb(130, 73, 130);
        border-radius: 15px;
        padding: 15px 30px ;
        justify-content: right;
    }

    #cartBtn button:hover{
        background-color: rgb(244, 212, 212);
        color: white;
    }

    select {
        padding: 15px;
        font-size: 1em;
        border: 3px solid rgb(130, 73, 130);
        border-radius: 15px;
        font-family: "Unbounded", sans-serif;
        color: rgb(80, 80, 80);
        width: 75%;
    }

    select + button {
        padding: 0;
        border: 3px solid rgb(130, 73, 130);
        border-radius: 15px;
        font-family: "Unbounded", sans-serif;
        color: rgb(80, 80, 80);
    }