.card {
        display: inline-block;
        width: 25%;
        vertical-align: top;
        padding: 1.2em;
        align-items: center;
        background-color: white;
        border-radius: 15px;

    }

    .card>img {
        /* border: 2px solid lightyellow; */
        border-radius: 10px;

    }

    .card h3 {
        height: 45px;
        font-family: "Lora", serif;
        font-weight: 600;
        font-size: 1.1em;
        color: rgb(43, 69, 147);
        padding: 0.3em;
    }

    .card span {
        display: block;
        padding: 0.3em;
        font-weight: 800;
        border-bottom: 2px solid rgb(43, 69, 147);
        pointer-events: none;
    }

    .card p {
        height: 45px;
        font-family: "Unbounded", cursive;
        font-weight: 200;
        font-size: 10px;
        padding: 0.3em;
    }

    .buttons {
        margin: 15px;
        text-align: center;
    }

    .buttons button {
        display: inline-block;
        border: 2px solid rgb(43, 69, 147);
        border-radius: 100px;
        font-family: "Lora", serif;
        font-size: 18px;
        font-weight: 600;
        padding: 8px 20px;
        text-align: center;
        color: rgb(57, 80, 149);
        cursor: pointer;
        width: 100%;

    }

    .buttons button:hover {
        background-color: rgb(244, 212, 212);
        color: white;
    }

    /* .buttons form {
        display: inline;
    } */

    main {
        display: block;
        padding: 3em;
        align-items: center;
        justify-content: space-between;
        background-color: whitesmoke;
        gap: 40px;
    }

    #productList {
        margin: 3em;
    }

    #productList .row{
        display: flex;
        justify-content: space-between;
        margin: 20px 0;
    }

    #intro {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 30px;      
        margin: 2em;
    }

    #intro h1 {
        color: rgb(43, 69, 147);
        flex-wrap: wrap;
        font-family: "Lora", serif;
        font-optical-sizing: auto;
        font-weight: 900;
        font-size: 2.5em;
        font-style: normal;
        padding: 15px 0;
    }

    select {
        padding: 15px;
        font-size: 1em;
        border: 3px solid rgb(43, 69, 147);
        border-radius: 15px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: rgb(80, 80, 80);
        width: 35%;
    }

    select + button {
        padding: 0;
        border: 3px solid rgb(43, 69, 147);
        border-radius: 15px;
    }